{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Client</title>
</head>
<body>
  <!--header section start -->
    </div>
    <!-- header section end -->
    <!-- client section start -->
    <div class="client_section layout_padding">
        <div class="container">
            <h1 class="what_text">What Is Says Our Clients</h1>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_section_2 layout_padding">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text">I have been using AXIS bank credit card for 3 years, Its a life time free card so I applied the card through bank. The agent have informed me everything about the card. I used to get offers of 10% on petrol bunk and shopping.The limit of the card is Rs.45000 .</p>
                                <div class="image_16"><img src="/static/images/img-16.png"></div>
                                <div class="adipiscing_text">Shyam<br>Pabari</div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text">This is Axis Bank Flip card, actually i am getting more reward points that i am converting as a Indian rupees directly from my account 5% on all transactions. I am happy with the credit limit and this card has a EMI facilities and the customer service was excellent.</p>
                                <div class="image_16"><img src="/static/images/img-17.png"></div>
                                <div class="adipiscing_text">Deep<br>Raychura</div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text">I am using AXIS Bank My Zone credit card more than 2 years. Annual charges for this card is Rs. 500+ GST if i spend some amount there wont be any charges. Credit limit is sufficient and i got this offer from bank directly. Maximum i am using the card for travel and shopping.</p>
                                <div class="image_16"><img src="/static/images/img-18.png"></div>
                                <div class="adipiscing_text">Mayank<br>Vaghela</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2 layout_padding">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text">This is AXIS Bank privilege credit card and i applied this card with other channel. I am getting credit card statement through soft copy. Its a travel card i am using for airline ticket booking and also i am getting discount in airline, its very useful.</p>
                                <div class="image_16"><img src="/static/images/11.PNG"></div>
                                <div class="adipiscing_text">Atul<br>Odedara</div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text">As I am having my bank account in AXIS, the banker has offered a credit card. I got my card on time without any delay.The reward points are good. I used this card for on line payment. I have another card from the same bank but with the different variant. </p>
                                <div class="image_16"><img src="/static/images/12.PNG"></div>
                                <div class="adipiscing_text">Abhay<br>Adhiya</div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text"> I have been using AXIS NEO card for past one year. It is a life time free card and the credit limit is sufficient and I got more than 50K, recently they proposed to enhance but I haven't agreed. Their service is good and charges also low when compare.</p>
                                <div class="image_16"><img src="/static/images/13.PNG"></div>
                                <div class="adipiscing_text">Manish<br>Malotra</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_section_2 layout_padding">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text">From Axis Bank, the rate of interest and fee was high, if loan or emi conversion i am doing interest was high, need to decrease. This is a privilege card i am using since 18 months , and they given a sufficient credit limit. This bank has a good customer service. </p>
                                <div class="image_16"><img src="/static/images/15.PNG"></div>
                                <div class="adipiscing_text">Suman<br>Vekariya</div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text">I have been using AXIS card for more than 5 years which was offered from bank and accepted for the same. It is a life time free card. The credit limit is sufficient of 1.95L at initial they provided for 1.20L. I use this card frequently in many places got good .</p>
                                <div class="image_16"><img src="/static/images/16.PNG"></div>
                                <div class="adipiscing_text">Pooja<br>Dave</div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <p class="ipsum_text">I have Axis Bank credit card which was taken through bank.I am using this my zone card almost 3 to 4 years. This was a life time free card and its having an option for making card to card payments. Emi conversion is also possible, fuel benefits, movie ticket.</p>
                                <div class="image_16"><img src="/static/images/17.PNG"></div>
                                <div class="adipiscing_text">Manisha<br>Movaliya</div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- client section end -->
      
</body>
</html>
{% endblock %}